body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.zona-site {
    justify-content: center;
    align-content: center;
    margin-left: 50px;
    padding: auto;
}

#bubble-chart {
    border: 2px solid black; /* Grosime și culoare pentru border */
}
